<%= @player_1.name%> vs. <%= @player_2.name %></br>
<%= @player_1.name %> <%= @player_1.hit_points %>/100 points
<%= @player_2.name %> <%= @player_2.hit_points %>/100 points
<form action="/attack" method="get">
  <input type="submit" value="ATTACK!">
</form>
